@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
.origin-center {
  transform-origin: center;
}
.origin-top {
  transform-origin: top;
}
.origin-right {
  transform-origin: right;
}
.origin-left {
  transform-origin: left;
}
.origin-bottom {
  transform-origin: bottom;
}
.origin-top-right {
  transform-origin: top right;
}
.opacity-0 {
  opacity: 0;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-100 {
  opacity: 1;
}
.transition-all {
  transition-property: all;
}
.transition-fastest {
  transition-duration: 50ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.transition-slow {
  transition-duration: 250ms;
}
.transition-slower {
  transition-duration: 300ms;
}

.transition-slowest {
  transition-duration: 350ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.ease-out {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.ease-in {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.scale-0 {
  transform: scale(0);
}

.scale-25 {
  transform: scale(0.25);
}
.scale-50 {
  transform: scale(0.5);
}
.scale-75 {
  transform: scale(0.75);
}
.scale-100 {
  transform: scale(1);
}
.scale-125 {
  transform: scale(1.25);
}
